.cards__item {
  background-color: #FFFFFF;
  /* max-width: 282px; */
  width: 100%;
  border-radius: 10px;
  list-style: none;
}
/*
@media screen and (max-width: 584px) {
  .cards__item {
    margin: 0 auto;
  }
} */
