.popup__btn-close {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -40px;
  right: -40px;
  background-image: url(../../../images/close.svg);
  transform: rotate(45deg);
  background-position: center;
  background-color: rgba(0,0,0,.0);
  border: none;
  cursor: pointer;
  transition: opacity .3s ease;

}

.popup__btn-close:hover {
  opacity: .6;
}

@media screen and (max-width: 568px) {
  .popup__btn-close {
    right: 0;
    width: 28px;
    height: 28px;
  }
}
